* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 251, 0);
    display: grid;
    place-items: center;
    width: 100vh;
}

.logo {
    max-width: 30%;
}